body {
    font-family: HelsinkiGrotesk, Arial, sans-serif;
}

@font-face {
    font-family: 'HelsinkiGrotesk';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(https://makasiini.hel.ninja/delivery/HelsinkiGrotesk/7c46f288e8133b87e6b12b45dac71865.woff) format('woff');
  }

  @font-face {
    font-family: 'HelsinkiGrotesk';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(https://makasiini.hel.ninja/delivery/HelsinkiGrotesk/565d73a693abe0776c801607ac28f0bf.woff) format('woff');
  }

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}