body {
    font-family: HelsinkiGrotesk, Arial, sans-serif;
}

@font-face {
    font-family: 'HelsinkiGrotesk';
    src: local('Arial'), url(https://makasiini.hel.ninja/delivery/HelsinkiGrotesk/565d73a693abe0776c801607ac28f0bf.woff) format('woff');
    font-display: swap;
  }

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}