body {
    font-family: HelsinkiGrotesk, Arial, sans-serif;
}

h1 {
    /*    background: #00d7a7;
    background: #cffaf1;
    */
}

h2 {
    padding-top: 1em;
}

p {
    margin: 0;
}

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}